@use "../../style/abstracts/" as *;

.register {
  display: grid;
  position: relative;
  z-index: 100;

  & > * {
    width: 100%;
  }
}

.register-modal {
  display: grid;
  text-align: center;
  max-width: 30rem;
  margin-inline: auto;
  background-color: $color-neutral-000;
  position: relative;
}

.register-close {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.register-logo {
  width: 2.5rem;
  height: max-content;
}

.register-button {
  width: 100%;
}

.register-modal:has(.email-verify) {
  overflow: hidden;
}

.email-verify {
  display: flex;
  flex-direction: column;
  background-color: $color-neutral-000;
  position: absolute;
  inset: 0;
  z-index: 9999;
}

@include mq(medium) {
  .register {
    position: fixed;
    inset: 0;
    background-color: rgba(black, 0.2);
    align-content: center;
    z-index: 9999;
  }

  .register-modal {
    border-radius: 2rem;
    width: 35rem;
    height: 90vh;
    max-height: 40rem;
    justify-content: center;
    overflow-y: auto;
  }

  .register-inputs > * {
    width: 20rem;
    margin-inline: auto;
  }

  .register-button {
    width: 20rem;
    margin-inline: auto;
  }
}
