@use "../abstracts/" as *;

@font-face {
  font-family: TwitterFont;
  src: url(/fonts/chirp-extended-heavy-web.woff2) format("woff2"),
    url(/fonts/chirp-extended-heavy-web.woff) format("woff");
  font-weight: 700;
  font-style: "normal";
  font-display: "swap";
}

@font-face {
  font-family: TwitterFont;
  src: url(/fonts/chirp-regular-web.woff2) format("woff2"),
    url(/fonts/chirp-regular-web.woff) format("woff");
  font-weight: 400;
  font-style: "normal";
  font-display: "swap";
}

@font-face {
  font-family: TwitterFont;
  src: url(/fonts/chirp-medium-web.woff2) format("woff2"),
    url(/fonts/chirp-medium-web.woff) format("woff");
  font-weight: 500;
  font-style: "normal";
  font-display: "swap";
}

@font-face {
  font-family: TwitterFont;
  src: url(/fonts/chirp-bold-web.woff2) format("woff2"),
    url(/fonts/chirp-bold-web.woff) format("woff");
  font-weight: 700;
  font-style: "normal";
  font-display: "swap";
}

@font-face {
  font-family: TwitterFont;
  src: url(/fonts/chirp-heavy-web.woff2) format("woff2"),
    url(/fonts/chirp-heavy-web.woff) format("woff");
  font-weight: 800;
  font-style: "normal";
  font-display: "swap";
}

body {
  font-family: $body-font-family;
  $font-weight: $body-font-weight;
  font-size: $body-font-size;
  color: $body-text-color;
  line-height: $body-line-height;
  background-color: $body-background-color;
  min-height: 100vh;
  overflow-x: hidden;
}

main > section.border-inline {
  @media (max-width: 500px) {
    border-inline: 0;
  }
}

svg {
  width: 1.5rem;
}

button {
  cursor: pointer;
}

button:disabled {
  opacity: 0.8;
}

.verified-icon {
  color: $color-accent-blue;
  svg {
    font-size: 1.25rem;
  }
}
