@use "../../style/abstracts/" as *;

.mobile-nav {
  position: fixed;
  bottom: 0;
  inset-inline: 0;
  background-color: $color-neutral-000;
  border-top: 1px solid $color-neutral-400;
  transition: opacity 300ms;

  &.scroll {
    opacity: 0.4;
  }
}

.mobile-nav-container {
  display: flex;
  justify-content: space-around;
  padding-block: 0.75rem;

  & > * {
    position: relative;

    &:hover::after {
      content: "";
      position: absolute;
      inset: 0;
      aspect-ratio: 1;
      background-color: $color-neutral-800;
      border-radius: 50%;
      opacity: 0.1;
      transform: scale(1.5);
    }
  }
}
